streamlit==0.79.0
matplotlib==3.2.2
seaborn==0.11.1
pandas==1.2.0
textblob==0.15.3
wordcloud==1.8.1
pdfplumber==0.5.27
neattext==0.1.0
PyPDF2==1.26.0
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
